#ust_bar{
	height:150px;
	
}

#ust_bar_sol{
	text-align:left;
	
}

#ust_bar_sag{
	text-align:right;

}

#menuler{
	
	height:150px;
}

#orta{

height:150px;
}

#arama{
	padding-top:50px;
}
#buton{
	padding-top:50px;
}

#logo{
	text-align:right;
}
#menu1{
	text-align:center;
}